* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.jersey-10-regular {
	font-family: "Jersey 10", serif;
	font-weight: 400;
	font-style: normal;
}

body {
	margin: 0;
	background: #333;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}
/* MAIN MENU  */
.main-menu {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: aliceblue;
	color: black;
}

.main-menu.hidden {
	visibility: hidden;
	opacity: 0;
	display: none;
}

.player-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	height: 300px;
}

.player-info div {
	display: flex;
	align-items: center;
}

.player-info label {
	font-size: 3rem;
}

.player-info input {
	height: 3rem;
	width: 20rem;
	border: none;
	border-radius: 25px;
	background-color: #e2e8f0;
	font-size: 2rem;
	margin-left: 20px;
	text-align: center;
}

.start,
.restart-button {
	height: 4rem;
	width: 10rem;
	font-size: 2rem;
	border: none;
}

.start:hover,
.restart-button:hover {
	cursor: pointer;
}

/* RESTART SCREEN */
.restart {
	display: none;
}

.restart.visible {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.restart-button {
	margin-bottom: 5rem;
}

/* GAME SCREEN */
.container {
	display: none;
	text-align: center;
	height: 100%;
	width: 100%;
}

.container.visible {
	display: flex;
	flex-direction: column;
}

.board {
	margin: auto;
	display: grid;
	height: 500px;
	width: 500px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	border: 1px solid black;
	gap: 2px;
	padding: 2px;
	background-color: #e6300d;
}

.turn {
	margin-top: 2rem;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 5rem;
	color: white;
	border: 1px solid grey;
	background: #e6be60;
	cursor: pointer;
}
