* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.jersey-10-regular {
	font-family: "Jersey 10", serif;
	font-weight: 400;
	font-style: normal;
}

.container {
	text-align: center;
}

.board {
	margin: auto;
	display: grid;
	height: 500px;
	width: 500px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	border: 1px solid black;
	gap: 2px;
	padding: 2px;
	background-color: #e6300d;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 5rem;
	color: white;
	border: 1px solid grey;
	background: #e6be60;
	cursor: pointer;
}
