* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.jersey-10-regular {
	font-family: "Jersey 10", serif;
	font-weight: 400;
	font-style: normal;
}

body {
	margin: 0;
	background: #333;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}

.main-menu {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: aliceblue;
}

.container {
	display: none;
	text-align: center;
	height: 100%;
	width: 100%;
}

.container.visible {
	display: flex;
	flex-direction: column;
}

.board {
	margin: auto;
	display: grid;
	height: 500px;
	width: 500px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	border: 1px solid black;
	gap: 2px;
	padding: 2px;
	background-color: #e6300d;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 5rem;
	color: white;
	border: 1px solid grey;
	background: #e6be60;
	cursor: pointer;
}

.test {
	background-color: red;
	width: 100%;
	height: 100px;
}

.hidden {
	visibility: hidden;
	opacity: 0;
	display: none;
}
